<section class="grid grid-cols-1 justify-items-center overflow-x-auto p-2">
  <div class="flex flex-row w-full justify-center items-center gap-1">
    <h3 class="text-primary-content text-2xl prose">Active Users</h3>
    <div class="badge">{{counter}}</div>
  </div>

  <div class="divider"></div>
  <table class="table">
    <!-- head -->
    <thead>
      <tr class="text-center">
        <th>Index</th>
        <th>Name</th>
        <th>Change Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let user of users; let i = index">
        <td class="text-center">{{ i }}</td>
        <td class="text-center">{{ user }}</td>
        <td class="text-center">
          <button
            class="btn btn-ghost max-w-full max-h-full"
            (click)="onSetToInactive(i)"
          >
            Set to Inactive
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
