<!-- 
1. Add a button which says "Display Details"
2. Add a paragraph with any content of your choice (e.g 'Secret Password = tuna')
3. Toggle the displaying of that paragraph with the button created in the first step
4. Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)
5. Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass) -->

<div class="grid grid-cols-1 gap-3 justify-items-center items-center">
  <button class="btn btn-primary" (click)="toggleDisplay()">
    {{ !display ? "Display Details" : "Hide Details" }}
  </button>
  @if (display) {
  <p class="text-primary-content text-lg">
    Secret Password = Who let bro cook?
  </p>
  }
  <h3 class="font-bold">Logging</h3>
  @for (log of logs; track $index) {
  <p
    class="log font-light font-mono"
    [ngClass]="$index >= 4 ? 'text-slate-100' : ''"
    [ngStyle]="$index >= 4 ? { backgroundColor: 'blue' } : {}"
  >
    Time: {{ log }}
  </p>
  }
</div>
